.markdown-section
{
	overflow: visible;
}
.promo {
	opacity: 0;
  z-index: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  pointer-events: none;
	transition: opacity .3s;
  -webkit-box-shadow: rgba(0,0,0,0.118) 0px 1px 6px, rgba(0,0,0,0.118) 0px 1px 4px;
  box-shadow: rgba(0,0,0,0.118) 0px 1px 6px, rgba(0,0,0,0.118) 0px 1px 4px;
  background: #fff;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 280px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
@media screen and (min-height: 870px) and (min-width: 1320px) {
  .promo {
    width: 350px;
    height: 500px;
  }
}
@media screen and (max-width: 656px) {
  .promo {
    width: 175px;
    height: 250px;
  }
}
.promo .qrcode {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  margin-bottom: 1rem;
  font-size: initial;
}
.promo .qrcode img {
  width: 240px;
  height: 240px;
}
@media screen and (max-width: 656px) {
  .promo .qrcode img {
    width: 100%;
    height: auto;
  }
}
.promo .qrcode span {
  font-size: 1rem;
}
@media screen and (max-width: 656px) {
  .promo .qrcode span {
    margin: 0;
    font-size: 0.8rem;
  }
}
.promo p {
  font-size: 1.2rem;
  line-height: 1.8rem;
}
.promo p .pink {
  color: #ff8298;
}
.promo p .keywords {
  font-size: 14px;
}
@media screen and (max-width: 656px) {
  .promo p .keywords {
    font-size: 0.6rem;
  }
}
@media screen and (max-width: 656px) {
  .promo p {
    font-size: 1rem;
    line-height: 1.3rem;
  }
}
.promo .close {
  outline: none;
  cursor: pointer;
  pointer-events: initial;
  position: absolute;
  right: 8px;
  top: 8px;
  display: inline-block;
  width: 32px;
  height: 32px;
  background: transparent;
  border: none;
  overflow: hidden;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-appearance: none;
}
@media screen and (max-width: 656px) {
  .promo .close {
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
    right: -4px;
    top: -4px;
  }
}
.promo .close:hover::before,
.promo .close:hover::after {
  background: #f44336;
}
.promo .close::before,
.promo .close::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background: #808080;
}
.promo .close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.promo .close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.promo .close.hairline::before,
.promo .close.hairline::after {
  height: 1px;
}
.dplayer:-webkit-full-screen .promo {
  width: 21vw;
  height: 30vw;
}
.dplayer:-webkit-full-screen .promo .qrcode img {
  width: 15vw;
  height: 15vw;
}
.dplayer:-webkit-full-screen .promo p {
  font-size: 1.6rem;
}
.dplayer:-webkit-full-screen .promo p .keywords {
  font-size: 1rem;
}
.promo.show {
	opacity: 1;
	transition: opacity .5s .5s;
}
.promo.hide {
  opacity: 0;
  transition: opacity 0s;
}
.dplayer-setting-box {
  box-sizing: content-box;
}